/*=========================================================
	NAVIGATION
===========================================================*/
#nav {
  height: 70px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  &:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(33, 38, 49, 0.5);
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  &.shadow-active:after {
    opacity: 1;
    visibility: visible;
  }
}
#nav-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 90;
  background-color: #FFF;
  box-shadow: 0px -1px 0px 0px #eceef2 inset;
  &.slide-down {
    -webkit-animation: slide-down 0.3s;
    animation: slide-down 0.3s;
  }
  &.slide-up {
    -webkit-animation: slide-up 0.3s;
    animation: slide-up 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}
/*----------------------------*\
logo
\*----------------------------*/
.navbar-brand {
  padding: 0;
  height: $app-nav-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logo {
    .logo-link {
      line-height: $app-nav-height;
      display:inline-block;
      img {
        width: 100%;
        max-height: $app-nav-height;
      } 
    }
  }
}
/*----------------------------*\
buttons
\*----------------------------*/
.navbar-toggler {
  outline: none !important;
  &:hoverv, &:active {
    color: black;
  }
}
/*----------------------------*\
menu
\*----------------------------*/
.nav-menu {
  margin-left: 20px;
  li a {
    position: relative;
    padding: 25px 20px !important;
    text-transform: capitalize;
    box-shadow: -1px 0px 0px 0px #eceef2 inset;
    transition: 0.2s color;
    height: $app-nav-height;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      width: 100%;
      height: 4px;
      -webkit-transition: 0.2s width;
      transition: 0.2s width;
    }
  }
  li:first-child a {
    border-left: 1px solid #eceef2;
  }
}
/*----------------------------*\
search
\*----------------------------*/
.nav-btns {
   float:right;
    > button {
      padding: 25px 25px;
      border: none;
      line-height: 20px;
      background: transparent;
    }
    .search-form {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0px;
      padding: 0px 15px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      .search-input {
        height: 100%;
        width: 100%;
        border: none;
        background: #FFF;
        padding: 0px;
        font-weight: 600;
      }
      .search-close {
        position: absolute;
        top: 50%;
        right: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border: none;
        background: transparent;
        line-height: 20px;
        color: #212631;
        font-size: 22px;
        padding: 0;
      }
    }
  }
